{% extends "layouts/default.twig" %}
{% block title %}404 page{% endblock %}
{% block content %}
    <div class="mainContent">
        <div class="page404">
            <div class="main">
                <div class="headBlock">
                    <h1 class="title">Oups  ... Erreur 404</h1>
                </div>
                <div class="inner404">
                    <p class="desc">Nous sommes désolés mais la page que vous avez demandée n’existe pas.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}