{% extends "layouts/default.twig" %}
{% block title %}Home page{% endblock %}
{% block content %}
    <div class="mainContent">
        <div class="headBlock">
            <h1 class="title">Home page</h1>
        </div>
    </div>
{% endblock %}