{% extends "layouts/default.twig" %}
{% block title %}Maintenace{% endblock %}
{% set hideHeader = true %}
{% set hideFooter = true %}
{% block content %}
    <div class="pageMaint">
        <div class="main">
            <div class="headBlock">
                <h1 class="title">Maintenance</h1>
            </div>
            <div class="innerMain">
                <p class="desc">Lorem ipsum dolos</p>
            </div>
        </div>
    </div>
{% endblock %}