// ==================================================
// Layout
// ==================================================
    
html{
	font-size:100px;
	overflow-x: hidden;
	&.noScroll{
		&, body{
			overflow: hidden;
		}
	}

	@media screen and (max-width: 1060px) and (min-width: 801px){
		font-size: calc(((100vw - 800px)/18) + 86px);
	}
	@media screen and (max-width: 800px) and (min-width: 601px){
		font-size: 80px;
	}
	@media screen and (max-width: 600px) and (min-width: 301px){
		font-size: calc(((100vw - 300px)/16) + 62px);
	}
	@media screen and (max-width: 300px){
		font-size: 62px;
	}
}

body{
    font-family: $mainFont;
	font-weight: 400;
    font-size: rem(16);
    background:#000;
    color:$white;
}

.global{
    overflow: hidden;
}

.main{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 rem(20);
	box-sizing: content-box;
}