<!DOCTYPE html>
<html lang="fr" xml:lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no">
	<title>{% block title %}Home{% endblock %}</title>
	{% include "../includes/head.twig" %}
</head>
<body>
    <div class="global">
		<!-- HEADER -->
		{% include "../includes/header.twig" %}
		<!-- CONTENT -->
        {% block content %}{% endblock %}
		<!-- FOOTER -->
		{% include "../includes/footer.twig" %}
    </div>
	<!-- SCRIPTS -->
	{% include "../includes/scripts.twig" %}
</body>
</html>