// ==================================================
// block
// ==================================================

.youtube_player,
.vimeo_player{
    position: relative;
    padding-bottom: 56.5%;
    iframe{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
    }
    .tac_activate {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        .tac_float {
            display: block;
            position: absolute;
            top: 50%;
            width: 100%;
        }
    }
}