// ==================================================
// Form
// ==================================================
    
.formStyle{
    label{
        position: relative;
        display: block;
        padding: 0 0 rem(10);
        span{
            font-size: rem(13);
            line-height: rem(20);
        }
        a{
            text-decoration: underline;
        }
        input[type=checkbox]{
            position: absolute;
            opacity: 0;
            & + span{
                position: relative;
                padding: 0 0 0 20px;
                display: block;
                &:before{
                    content: '';
                    position: absolute;
                    top: 4px;
                    left: 0;
                    width: 10px;
                    height: 10px;
                    border:1px solid $white;
                }
                &:after{
                    content: '';
                    position: absolute;
                    top: 7px;
                    left: 3px;
                    width: 6px;
                    height: 6px;
                    background: $white;
                    opacity: 0;
                    @extend .animate;
                }
            }
            &:checked + span{
                &:after{
                    opacity: 1;
                }
            }
        }
    }

    .item{
        position: relative;
        padding: 0 0 rem(24);
    }

    input[type=text],
    input[type=email],
    input[type=tel]{
        width: 100%;
        height: rem(40);
        line-height: rem(40);
        color: darken($gray, 17%);
        padding: 0 rem(12);
        background: $white;
        border: 1px solid $footerBg;
        border-radius: rem(5);

        &.wpcf7-not-valid{
            box-shadow: 0 0 rem(5) $red;
        }
    }

    .wpcf7-not-valid-tip {
        position: absolute;
        z-index: 3;
        color: $red;
        font-size: rem(12);
        line-height: rem(14);
        bottom: rem(6);
        right: 0;
        text-shadow: 0 0 1px rgba($white, 0.3);
    }

    .wpcf7-form-control-wrap{
        display:block;
    }
    .wpcf7-mail-sent-ng,
    .wpcf7-mail-sent-ok,
    .wpcf7-spam-blocked,
    .wpcf7-validation-errors {
        font-size: rem(13);
        color: $white;
        line-height: rem(16);
        padding: rem(20);
    }
    .wpcf7-mail-sent-ok {
        background: $green;
        display: none !important;
    }
    .wpcf7-mail-sent-ng {
        background: $yellow;
    }
    .wpcf7-validation-errors {
        background: $red;
    }
    .wpcf7-spam-blocked {
        background: $blueText;
    }
    .screen-reader-response {
        display: none
    }

    .ajax-loader {
        position: absolute;
        visibility: hidden;
        right: rem(-20);
        top: rem(18);
        width: rem(10);
        height: rem(10);
        border: none;
        padding: 0;
        vertical-align: middle;
        &.is-active {
            visibility: visible;
        }
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border: rem(2) solid transparent;
            border-top: rem(2) solid $red;
            border-bottom: rem(2) solid $red;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            transform: rotate(0deg) translate(-50%, -50%);
            transform-origin: left top;
            animation-name: load;
            animation-duration: 1500ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
}

.grecaptcha-badge{
    display: none !important;
}