// ==================================================
// Header
// ==================================================

header{
    position: fixed;
    z-index: 10;
    left:0;
    right:0;
    padding:rem(25) 0 0;
}

.mobileIcon{
    display:none;
    @media screen and (max-width: 800px){
        display: block;
        position:absolute;
        z-index: 10;
        width:rem(34);
        right:rem(20);
        top:rem(40);
        span{
            display:block;
            position: relative;
            height:3px;
            background:$white;
            &:before,
            &:after{
                content:'';
                position:absolute;
                left:0;
                width:100%;
                height:100%;
                top:rem(-12);
                background:$white;
                transition: 0.2s all linear;
            }
            &:after{
                top:auto;
                bottom:rem(-12);
            }
        }
        &.open{
            span{
                background:none;
                &:before{
                    top:0;
                    transform: rotate(45deg);
                }
                &:after{
                    top: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}