{% if not hideHeader %}
<header>
	<div class="main">
		<div class="logo">
			<a href="#" alt="UBI Solutions"><img src="assets/img/logo.svg" alt="UBI Solutions" /></a>
		</div>
	</div>
</header>
{% endif %}