<script type="text/javascript" src="assets/js/lib/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="assets/js/plugin/slick.min.js"></script>
<script type="text/javascript" src="assets/js/plugin/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="assets/js/plugin/tarteaucitron.js"></script>
<script type="text/javascript" src="assets/js/scripts.min.js"></script>