// ==================================================
// Class &  helpers
// ==================================================

.animate{
	transition: 0.3s all linear;
}

.clear{
	&:after{
		content:'';
		display:block;
		clear: both;
	}
}