// ==================================================
// Settings
// ==================================================

$mainFont       : 'Asap', sans-serif;
$titleFont      : 'Montserrat', sans-serif;
$white          : #fff;
$mainColor      : #141A3E !default;

$footerBg		: #141A3E;
$blueText		: #166DCE;
$blueBlock      : #181D9B;
$red            : #D6173C;
$green          : #449D44;
$yellow         : #d0a71c;
$gray           : #7E7F86;
$gray2          : #4B4D5C;
$grayLight      : #F0F0F0;

$borderBtnColor : #17173C;

$browser-context: 100;